/* Set the size of the div element that contains the map */
#map {
  height: 50%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

body {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2016/06/14/killarney-provincial-park-%E2%80%93-ontario-canada-4k-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
